@import models.users.User
@(user: User)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=0.1">
  <head>
    <title>Testing</title>
  </head>
</head>
<body style="margin: 0px; background: #0e0e0e;">
  <img width="122" height="122" style="-webkit-user-select: none;max-width: 100%;background-position: 0px 0px, 10px 10px;background-size: 20px 20px;background-color: white;background-image:linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);" src="/assets/images/@user.profileImage">
</body>
</html>

